/* Colors*/
:root{
    --body-bg: #1d72e8;
    --navbar:#e5e5e5;
}

/* Generics */

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

/*Utils Layout*/

.container-menu{
    width: 100%;
}

.container-side-main{
    width: 100vw;
}


.side-bar{
    display: inline-block;
    background-image: url(../img/sidebar-bg.png);
    background-color: #061e34;
    filter: hue-rotate(180deg);
    filter: brightness(1);
    width: 150px;
    height: 100vh;
}

.main-content{
    width: calc(100% - 150px);
    overflow-y: auto;
    height: 100vh;
    flex-grow: 1;
}

/* Hover effects */

/* SideBar */
.hover-effect:hover .col{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.4)
}

/* Table Classes */
.square-background:hover i{
    color: var(--body-bg);
}

/* Header */
/* Navbar */
.navbar .navbar-brand img{
    max-width: 50px;
}

.navbar .navbar-brand-2 img{
    max-width: 150px;
    padding: 0px 10px;
}

.navbar .bell{
    color: orange;
}

.search-icon{
    font-family: 'fontawesome';
    font-size: 15px;
}

.form-control{
    background-color: var(--navbar);
}

/* Main */

.container-content{
    flex-grow: 1;
}

/* Sidebar */

.side-bar i{
    font-size: 18px;
    color: white;
}

.side-bar .title{
    color: white;
    padding: 0px 5px;
    font-size: 18px;
}

/* Main Menu */

.container-menu{
    background-color: var(--body-bg);
    color: white;
}

.container-menu h4{
    font-size: 18px;
}

.container-menu .btn{
    padding: 5px 10px;
}

.container-menu .btn-blue{
    background-color: var(--body-bg);
    border: 2px solid white;
    color: white;
}

.container-menu .btn-dark-blue{
    background-color: 
    #165bba;
    border-radius: 20px;
    color: white;
    padding: 0px 10px;
    font-size: 13px;
    margin-left: 10px;
}

#offcanvasRight{
    width: 800px;
}

#offcanvasRight .offcanvas-body .form-control{
    background-color: white;
}

/* Main Content */

.container-content .card-header{
    font-size: 20px;
}

.container-content img{
    height: 180px;
}

.container-content p{
    font-size: 14px;
}

/* Table Classes */

.circle-background{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f26551;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.square-background{
    width: 30px;
    height: 30px;
    color: grey;
    border: 2px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/* Responsive */

@media (min-width: 576px) {
    .table th:nth-child(2),
    .table td:nth-child(2) {
      display: block;
    }
  }

/* Dimesions 576 768 992 1200 */

