/* Colors*/
:root{
    --body-bg: #1d72e8;
    --navbar:#e5e5e5;
}

/* Generics */

body{
    font-family: 'Montserrat', sans-serif;
    overflow-y: hidden;
}

/*Utils Layout*/

.container{
    width: 200px;
}

.side-bar{
    display: inline-block;
    background-image: url(../img/sidebar-bg.png);
    background-color: #061e34;
    filter: hue-rotate(180deg);
    filter: brightness(1.5);
    width: 300px;

}

.main-content{
    border: 2px dashed red;
    height: 800px;
    width: 1800px;
}

/* Hover effects */

/* SideBar */
.hover-effect:hover .col{
    background-color: white;
    background-color: rgba(255, 255, 255, 0.4)
}



/* Header */

/* Navbar */
.navbar .navbar-brand img{
    max-width: 50px;
}

.navbar .navbar-brand-2 img{
    max-width: 150px;
    padding: 0px 10px;
}

.navbar .bell{
    color: orange;
}

.search-icon{
    font-family: 'fontawesome';
    font-size: 15px;
}

.form-control{
    background-color: var(--navbar);
}



/* Main */

/* Sidebar */

.side-bar i{
    font-size: 18px;
    color: white;
}

.side-bar .title{
    color: white;
    padding: 0px 5px;
    font-size: 18px;
}



/* Main Content */



/* Dimesioni 576 768 992 1200 */